@use "../config/variables" as *;
@use "../mixins/to" as *;
@use "../mixins/from" as *;

.filter{
  position: relative;
  @include to($desktop){
    display: flex;
    flex-direction: column;

  }

  &__list{
    display: flex;
    justify-content: center;
    background-color: var(--Very-Dark-Desaturated-Blue);
    

    @include from($desktop){
      position: absolute;
      background-color: transparent;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 540px;
    }
    
    @include to($desktop){
      padding: 14px;
      border-radius: 5px;
      
    }
  }
  
  &__button{
    background-color: transparent;
    border: none;
    color: var(--dark-filter);
    font-weight: 700;
    cursor: pointer;

    
    @include from($desktop){
      font-size: .85rem;
      cursor: pointer;
      
      &:hover{
        color: white;
      }
    }
    
    &--active{
      color: var(--Bright-Blue);
    }
  }

  &__remaining{
    background-color: var(--Very-Dark-Desaturated-Blue);
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    padding-right: 15px;
    padding-left: 25px;
    margin-top: 0;
    border-radius: 0 0 5px 5px;
    color: var(--Dark-Grayish-Blue);
    font-size: .7rem;
    
    @include from($desktop){
      font-size: 1rem;
    }
    
    @include to($desktop){
      margin-bottom: 15px; 

    }
  }

  &__remove{
    position: absolute;
    background-color: transparent;
    color: var(--Dark-Grayish-Blue);
    width: 40%;
    top: 0;
    right: 0;
    border: none;
    font-size: .6rem;
    
    
    @include to($desktop){
      padding-top: var(--padding);
      padding-right: 4px;
      
      
    }
    
    @include from($desktop){
      font-size: .9rem;
      padding-right: 1px;
      padding-top: 21px;
      right: -25px;
      cursor: pointer;
      
      &:hover{
        color: white;
      }
    }
  }
}