@use "../config/variables" as *;
@use "../mixins/to" as *;
@use "../mixins/from" as *;

.form {
  
  &:first-child &__field {
    border-radius: 5px;
    margin-bottom: 15px;
    padding-top: 14px;
    padding-bottom: 14px;

    @include from($desktop){
      --padding-field: 22px;

      padding-top:var(--padding-field);
      padding-bottom: var(--padding-field);
      margin-bottom: var(--padding-field);
    }
  }
  
  & ul li:first-child &__field {
    border-radius: 5px 5px 0 0;
  }
  
  &__field {
    display: flex;
    align-items: center;
    background-color: var(--Very-Dark-Desaturated-Blue);
    border-bottom: 1px solid var(--Very-Dark-Grayish-Blue);
    padding: 16px;

    @include from($desktop){
      padding: 19.3px;
    }
  }

  &__label {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--Very-Dark-Grayish-Blue);
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;

    @include from($desktop){
      width: 23px;
      height: 23px;
    }

    &:hover::before,
    &:hover::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 10px;
      background-image: var(--Check-Background);
      border-radius: 50%;
    }

    &:hover::after {
      padding: 9.1px;
      background: var(--Very-Dark-Desaturated-Blue);
    }
  }

  &__button {
    background: transparent;
    border: none;

    & img {
      width: 12px;

      @include from($desktop){
        width: 18px;
      }
    }
  }

  &__input {
    flex-grow: 1;
    background-color: transparent;
    color: var(--Light-Grayish-Blue);
    border: none;
    font-size: 0.7rem;
    cursor: pointer;

    @include from($desktop){
      font-size: 1.15rem;
    }

    &:focus {
      outline: transparent;
    }

    &--checkbox {
      display: none;
    }

    &:checked + label {
      background-image: var(--Check-Background);
      border: transparent;
    }

    &:checked + label::before {
      content: url(../assets/images/icon-check.svg);
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:checked + label:hover::after {
      background-color: transparent;
    }

    &:checked + input{
      background-color: red;
    }
  }
}
