<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    include ../block/css
    title TO-DO list
  body
    header.header
      h1.title TODO
      img#toogle-icon-theme(src="./assets/images/icon-sun.svg", alt="")
    main.main
      include ../block/new-todo
      include ../block/todo-list
      include ../block/filter         
