:root {
  --Bright-Blue: hsl(220, 98%, 61%);
  --Check-Background: linear-gradient(45deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  --box-shadow-color: rgba(0, 0, 0, 0.5);
  --padding: 18px;
}

body {
  --white: hsl(255,100%, 100%);
}

body.light-theme {
  --background-images-desktop-dark: url(../assets/images/bg-desktop-light.jpg);
  --background-images-mobile-dark: url(../assets/images/bg-mobile-light.jpg);
  --Very-Dark-Gray: hsl(0, 0%, 98%);
  --Very-Dark-Grayish-Blue: hsl(236, 33%, 92%);
  --Light-Grayish-Blue: hsl(0, 0%, 45%);
  --Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue2: hsl(235, 19%, 35%);
  --Very-Dark-Desaturated-Blue: hsl(0, 0%, 99%);
  --Light-Grayish-Blue-hover: hsl(240, 1%, 28%);
  --dark-filter: hsla(236, 12%, 43%, 0.659);
}

body.dark-theme {
  --background-images-desktop-dark: url(../assets/images/bg-desktop-dark.jpg);
  --background-images-mobile-dark: url(../assets/images/bg-mobile-dark.jpg);
  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
  --dark-filter: hsl(236, 12%, 43%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: JosefinSans;
  margin: 30px 25px 0;
  color: var(--white);
  background-color: var(--Very-Dark-Blue);
  background-image: var(--background-images-mobile-dark);
  background-repeat: no-repeat;
}
@media screen and (min-width: 1440px) {
  body {
    background-image: var(--background-images-desktop-dark);
    background-position: top center;
  }
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

button,
input {
  font-family: JosefinSans;
}

img {
  pointer-events: none;
}

button {
  cursor: pointer;
}

#toogle-icon-theme {
  pointer-events: visible;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 10px;
  margin-bottom: 13px;
}
@media screen and (min-width: 1440px) {
  .header {
    width: 540px;
    margin-top: 47px;
    margin-left: auto;
    margin-right: auto;
  }
}
.header img {
  width: 20px;
}
@media screen and (min-width: 1440px) {
  .header img {
    width: 25px;
  }
}

.title {
  font-size: 1.6rem;
}
@media screen and (min-width: 1440px) {
  .title {
    font-size: 2.5rem;
  }
}

.form:first-child .form__field {
  border-radius: 5px;
  margin-bottom: 15px;
  padding-top: 14px;
  padding-bottom: 14px;
}
@media screen and (min-width: 1440px) {
  .form:first-child .form__field {
    --padding-field: 22px;
    padding-top: var(--padding-field);
    padding-bottom: var(--padding-field);
    margin-bottom: var(--padding-field);
  }
}
.form ul li:first-child .form__field {
  border-radius: 5px 5px 0 0;
}
.form--todos {
  box-shadow: 0px 8px 8px 0px var(--box-shadow-color);
}
.form__field {
  display: flex;
  align-items: center;
  background-color: var(--Very-Dark-Desaturated-Blue);
  border-bottom: 1px solid var(--Very-Dark-Grayish-Blue);
  padding: 16px;
}
@media screen and (min-width: 1440px) {
  .form__field {
    padding: 19.3px;
  }
}
.form__label {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--Very-Dark-Grayish-Blue);
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
@media screen and (min-width: 1440px) {
  .form__label {
    width: 23px;
    height: 23px;
  }
}
.form__label:hover::before, .form__label:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-image: var(--Check-Background);
  border-radius: 50%;
}
.form__label:hover::after {
  padding: 9.1px;
  background: var(--Very-Dark-Desaturated-Blue);
}
.form__button {
  background: transparent;
  border: none;
}
.form__button img {
  width: 12px;
}
@media screen and (min-width: 1440px) {
  .form__button img {
    width: 18px;
  }
}
.form__input {
  flex-grow: 1;
  background-color: transparent;
  color: var(--Light-Grayish-Blue);
  border: none;
  font-size: 0.7rem;
  cursor: pointer;
  padding-top: 4px;
}
@media screen and (min-width: 1440px) {
  .form__input {
    font-size: 1.15rem;
  }
}
.form__input--line-through {
  text-decoration: line-through;
}
.form__input:focus {
  outline: transparent;
}
.form__input--checkbox {
  display: none;
}
.form__input:checked + label {
  background-image: var(--Check-Background);
  border: transparent;
}
.form__input:checked + label::before {
  content: url(../assets/images/icon-check.svg);
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1440px) {
  .form__input:checked + label::before {
    width: 23px;
    height: 23px;
  }
}
.form__input:checked + label:hover::after {
  background-color: transparent;
}
.form__input:checked + input {
  background-color: red;
}

.filter {
  position: relative;
}
@media screen and (max-width: 1439px) {
  .filter {
    display: flex;
    flex-direction: column;
  }
}
.filter__list {
  display: flex;
  justify-content: center;
  background-color: var(--Very-Dark-Desaturated-Blue);
}
@media screen and (min-width: 1440px) {
  .filter__list {
    position: absolute;
    background-color: transparent;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 540px;
  }
}
@media screen and (max-width: 1439px) {
  .filter__list {
    padding: 14px;
    border-radius: 5px;
  }
}
.filter__button {
  background-color: transparent;
  border: none;
  color: var(--dark-filter);
  font-weight: 700;
  cursor: pointer;
}
@media screen and (min-width: 1440px) {
  .filter__button {
    font-size: 0.85rem;
    cursor: pointer;
  }
  .filter__button:hover {
    color: var(--Light-Grayish-Blue-hover);
  }
}
.filter__button--active {
  color: var(--Bright-Blue);
}
.filter__remaining {
  background-color: var(--Very-Dark-Desaturated-Blue);
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  padding-right: 15px;
  padding-left: 25px;
  margin-top: 0;
  border-radius: 0 0 5px 5px;
  color: var(--Dark-Grayish-Blue);
  font-size: 0.7rem;
  box-shadow: 0px 8px 8px 0px var(--box-shadow-color);
}
@media screen and (min-width: 1440px) {
  .filter__remaining {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1439px) {
  .filter__remaining {
    margin-bottom: 15px;
  }
}
.filter__remove {
  position: absolute;
  background-color: transparent;
  color: var(--Dark-Grayish-Blue);
  width: 40%;
  top: 0;
  right: 0;
  border: none;
  font-size: 0.6rem;
}
@media screen and (max-width: 1439px) {
  .filter__remove {
    padding-top: var(--padding);
    padding-right: 4px;
  }
}
@media screen and (min-width: 1440px) {
  .filter__remove {
    font-size: 0.9rem;
    padding-right: 1px;
    padding-top: 21px;
    right: -25px;
    cursor: pointer;
  }
  .filter__remove:hover {
    color: var(--Light-Grayish-Blue-hover);
  }
}

.main {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1440px) {
  .main {
    width: 540px;
  }
}