.filter
  p.filter__remaining 5 items left
  ul.filter__list
    li.filter__item: button.filter__button.filter__button--active All
    li.filter__item: button.filter__button Active
    li.filter__item: button.filter__button Completed
  button.filter__remove Clear Completed