form#new-todo-form.form
  .form__field
    label.form__label(for="new-todo-form")
    input(type="checkbox")#new-todo-checkbox.form__input.form__input--checkbox
    input(type="text")#new-todo-item.form__input