form#new-todo-form.form
  .form__field
    input(type="checkbox")#new-todo-checkbox.form__input.form__input--checkbox
    label.form__label(for="new-todo-checkbox")
    input(type="text" placeholder="Create new todo...")#new-todo-item.form__input